* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
}

.main {
    /* background: url(../img/main_bg.png) */
    /* background-color: #FDF8EE; */
    background-image: url(/img/main_bg.png)
}

.container {
    width: 90%;
    max-width: 1400px;
    margin: 0 auto;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    /* background-color: #f8f8f8; */
    /* box-shadow: 0 2px 4px rgba(0,0,0,0.1); */
}

.logo img {
    /* font-size: 24px; */
    /* font-weight: bold; */
    width: 100px;
}

.navbar {
    flex: 1;
    display: flex;
    justify-content: center;
}

.nav-list {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-item {
    padding: 10px 15px;
}

.nav-item a {
    text-decoration: none;
    color: #333;
    transition: color 0.3s;
}

.nav-item a:hover {
    color: #4D2C5E;
}

.sign-in a {
    font-weight: bold;
    color: #4D2C5E;
    border: 1px solid #4D2C5E;
    padding: 8px 16px;
    border-radius: 30px;
    transition: background-color 0.3s, color 0.3s;
}

.sign-in a:hover {
    background-color: #4D2C5E;
    color: #fff;
}

.promo {
    padding: 50px 0;
    /* background-color: #f8f8f8; */
}

.promo_inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.promo_higlight {
    color: #FF7426;
}

.promo_left,
.promo_right {
    flex: 1;
}

.promo_left {
    padding-right: 20px;
}

.promo_right {
    display: flex;
    justify-content: center;
    align-items: center;
}

.promo_right img {
    max-width: 100%;
    /* Увеличиваем размер изображения */
    height: auto;
}

.promo_bigText {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
}

.promo_littleText {
    font-size: 16px;
    line-height: 1.5;
}

.notes {
    padding: 50px 0;
    background-color: #4D2C5E;
    width: 80%;
    margin: 0 auto;
    border-radius: 10px;
}

.notes_inner {
    display: flex;
    justify-content: space-between;
    /* align-items: flex-start; */
    /* gap: 20px; */
}

.notes_block {
    /* background-color: #fff; */
    /* border-radius: 8px; */
    width: 419px;
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
    /* padding: 20px; */
    /* flex: 1; */
    /* text-align: center; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.notes_icon {
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-bottom: 20px; */
    margin-right: 20px;
}

.notes_square {
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.2);
    ;
    border-radius: 8px;
}

.notes_square img {
    max-width: 60%;
    height: auto;
}

h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #fff;
}

p {
    font-size: 16px;
    line-height: 1.5;
    color: #b9b9b9;
}

.courses {
    height: 650px;
    /* border: 1px solid black; */
}

.courses_text {
    display: flex;
    margin-top: 50px;
    flex-direction: column;
    align-items: center;
}

.courses_big_text {
    font-size: 30px;
    font-weight: bold;
}

.courses_little_text {
    font-size: 15px;
    color: #8A8A8A;
    margin-top: 16px;
}

.courses_block {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
}

.courses_block_inner {
    width: 450px;
    height: 450px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.courses_img {
    width: 93%;
    margin-top: 15px;
    border-radius: 10px;
}

.courses_info {
    display: flex;
    flex-direction: column;
    width: 93%;
    margin-top: 20px;

}

.courses_speciality {
    width: 100%;
    display: flex;
    margin-right: 20px;
    /* flex-direction: row; */
    justify-content: space-between;
}

.courses_speciality_text {
    color: #ACACAC;
    font-size: 17px;
}

.courses_info_name {
    font-weight: bold;
    margin-top: 5px;
}

.courses_info_price {
    color: #FF7426;
    font-weight: bold;
    margin-top: 5px;
}

.hr-dotted {
    margin: 10px 0;
    padding: 0;
    height: 0;
    border: none;
    border-top: 2px dotted #ddd;
}

.courses_info_little {
    display: flex;
    justify-content: space-between;
    /* width: 68%; */
}

.info_little_inner {
    /* width: 100px; */
    display: flex;
    justify-content: start;
    /* padding: 0px; */
    /* margin: 2px; */
}

.info_little_inner img {
    width: 18px;
    /* height: auto; */
    object-fit: contain;
    margin-right: 5px;
}

.little_inner_text {
    color: #ACACAC;
    font-size: 17px;
}

.advantages {
    height: 636px;
    background-image: url(/img/main_bg2.png);
    background-size: 100%;
    /* background-color: #FDF8EE; */
}

.advantages_inner {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 636px;
    /* background-color: #000; */
}

.advantages_left {
    width: 50%;
    /* background-color: #fff; */
    /* border: 1px solid black; */
}

.advantages_left img {
    width: 650px;
}

.advantages_right {
    width: 50%;
    /* background-color: #fff; */
    padding: 30px;
}

.premium {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

.premium_block {
    /* width: 100%; */
}

.premium_block {
    width: 100%;
    height: 150px;
    /* border: 1px solid black; */
}

.premium_block {
    display: flex;
    align-items: center;
}

.premium_block_top_text {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 12px;
}

.premium_block_bottom_text {
    color: #8A8A8A;
    font-size: 17px;
    font-weight: bold;
}

.premium_top_icon {
    width: 100px;
    height: 100px;
    background-color: #4D2C5E;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
}

.premium_icon {
    width: 70%;
}

.preimum_text {
    font-size: 50px;
    font-weight: bold;
}

.premium_orange {
    color: #FF7426;
}

.reviews {
    text-align: center;
    padding: 30px 0;
    background-color: #FdF8ee;
}

.reviews_promo {
    margin-bottom: 30px;
}

.reviews_text1 {
    font-size: 2em;
    font-weight: bold;
}

.reviews_text2 {
    margin-top: 10px;
    font-size: 1.2em;
    color: #555;
}

.review_inner {
    display: flex;
    justify-content: center;
}

.reviews_list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 80%;
}

.review_box {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 10px;
    width: 30%;
    height: 250px;
    min-width: 250px;
    box-sizing: border-box;
    text-align: left;
    /* Выравнивание текста в блоке по левому краю */
}

.review_text {
    font-size: 1.1em;
    margin-bottom: 10px;
}

.review_author_info {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    /* Отступ снизу для разделения с названием курса */
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
    /* Отступ справа для разделения аватарки и имени */
    object-fit: cover;
    /* Обеспечивает обрезку изображения по размеру контейнера без растяжения */
    object-position: center;
}

.review_author {
    font-size: 0.9em;
    color: #353535;
    font-weight: bold;
}

.course_name {
    font-size: 0.9em;
    color: #555;
    font-style: italic;
    margin-top: 0;
    /* Убираем отступ сверху */
}

.teachers {
    text-align: center;
    padding: 30px 0;
    background-color: #FdF8ee;
}

.teachers_promo {
    margin-bottom: 30px;
}

.teachers_text1 {
    font-size: 2em;
    font-weight: bold;
}

.teachers_text2 {
    margin-top: 10px;
    font-size: 1.2em;
    color: #555;
}

.teachers_list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.teacher_box {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 30%;
    min-width: 250px;
    box-sizing: border-box;
    margin: 10px;
    text-align: left;
    position: relative;
    padding-bottom: 20px;
}

.teacher_photo {
    width: 100%;
    height: 250px;
    /* Фиксированная высота для всех изображений */
    object-fit: cover;
    /* Обрезка изображения по размеру контейнера без растяжения */
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.teacher_info {
    padding: 15px;
}

.teacher_name {
    font-size: 1.2em;
    color: #000000;
    font-weight: bold;
    margin-bottom: 5px;
}

.teacher_education,
.teacher_specialty {
    font-size: 1em;
    margin-bottom: 5px;
}

.teacher_social {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.social_icon {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    margin-left: 5px;
}

.subscribe {
    text-align: center;
    padding: 50px 0;
    background-color: #FdF8ee;
}

.subscribe_inner {
    display: flex;
    justify-content: center;
}

.subscribe_purple {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
    width: 90%;
    background-color: #4D2C5E;
    padding: 40px;
    border-radius: 10px;
    color: #fff;
}

.subscribe_purple_inner {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.subscribe_text {
    margin-bottom: 20px;
}

.subscribe_text1 {
    font-size: 2em;
    margin-bottom: 10px;
}

.subscribe_text2 {
    font-size: 1em;
    margin-bottom: 4px;
}

.subscribe_form {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    max-width: 400px;
}

.subscribe_input {
    padding: 10px 80px 10px 20px;
    /* Отступ справа для кнопки */
    border: none;
    border-radius: 50px;
    font-size: 1em;
    width: 100%;
    height: 65px;
    box-sizing: border-box;
}

.subscribe_button {
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    padding: 20px 25px;
    /* Чуть меньше по высоте */
    border: none;
    border-radius: 50px;
    background-color: #FF7426;
    color: #fff;
    font-size: 1em;
    cursor: pointer;
}

.subscribe_button:hover {
    background-color: #f95b00;
}

.footer {
    border-top: 1px solid #9d9d9d;
    background-color: #FdF8ee;
    color: #333;
    padding: 40px 0;
    text-align: left;
}

.container1 {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer_column {
    flex: 1;
    min-width: 200px;
    margin: 10px;
}

.footer_logo {
    margin-bottom: 20px;
}

.footer_logo img {
    max-width: 150px;
}

.footer_description {
    margin-top: 10px;
    font-size: 0.9em;
    color: #535353;
}

.footer_column h3 {
    margin-bottom: 15px;
    font-size: 1.2em;
}

.footer_column ul {
    list-style-type: none;
    padding: 0;
}